body {
    background-color: #404A65;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    height: 100vh;
}


.title {
    color: #ECEDF0;
    font-size: 64px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;

}

.instructions {
    color: #ECEDF0;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
}

.coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#coin-svg {
    cursor: pointer;
}

#shadow {
    margin-top: 16px;
}

#result {
    color: #ECEDF0;
    font-size: 24px;
    font-weight: 600;
}

#flip-button {
    background-color: #1F6FB0;
    color: #ECEDF0;
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #206fb1, 0 4px 6px rgba(0, 0, 0, 0.1);
}